# Uploaded and Processed Videos
Data/
va_uploads/
va_outputs/
anpr_uploads/
anpr_outputs/
density_uploads/
density_outputs/
video/

# Python Virtual Environments
venv/
env/
.env

# Python Cache
__pycache__/
*.pyc
*.pyo

# IDEs
.vscode/
.idea/
